/*!
 * Theme Name:    Darkbiz
 * Theme URI:     https://risethemes.com/downloads/darkbiz/
 * Author:        Rise Themes
 * Author URI:    http://risethemes.com/
 * Description:   Darkbiz Theme is fully compatible with Gutenberg WordPress Blocks. With Rise Blocks and Darkbiz, you are able to create unique and beautiful layouts for your blog or websites with zero knowledge in coding. If you are a non-techy person, you can easily modify the theme and design using Gutenberg Blocks, Elementor Page builder, SiteOrigin Page Builder, Beaver Builder, Visual Composer, etc. Responsive web layout for all popular small devices, tablets, and large-size screens. To create a clean and elegant online website, you can easily modify the sections like Featured Slider, Banner, About, Services, Icons Boxes, Counter, Portfolio, Team, Testimonials, Mega Menu, etc. It supports the most popular plugins like Jetpack, Yoast SEO, contact form 7, Rise Blocks. You can change color and the font of each and every text, link in the theme customizer. This theme includes some readymade demos like Constructions, Medical, Corporate, Office, Creative, Organics, Charity, Photography, Consulting, eCommerce, Education etc. You can easily import and export the json block files to build inner pages. Our dedicated team will help you in setting up websites. Follow the links for instructions. Full Demo: https://preview.risethemes.com/darkbiz Watch Video for Setup: https://youtu.be/Hwljubang2M Compatible Gutenberg Plugin: https://wordpress.org/plugins/rise-blocks
 * Version:       1.0.6
 * Tags:          left-sidebar, right-sidebar, wide-blocks, block-styles, grid-layout, two-columns, flexible-header, custom-colors, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, threaded-comments, translation-ready, news, education, entertainment   
 * Text Domain:   darkbiz
 * Tested up to:  5.8
 * Requires PHP:  5.6
 *
 * License: GNU General Public License v2 or later
 * License URI: http://www.gnu.org/licenses/gpl-3.0.html
 * 
 */


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/


/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */


/* Document
	 ========================================================================== */


/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    scroll-behavior: smooth;
}


/* Sections
	 ========================================================================== */


/**
 * Remove the margin in all browsers.
 */

body {
    margin: 0;
}


/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}


/* Grouping content
	 ========================================================================== */


/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}


/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}


/* Text-level semantics
	 ========================================================================== */


/**
 * Remove the gray background on active links in IE 10.
 */

a {
    background-color: transparent;
}


/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}


/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}


/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}


/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}


/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}


/* Embedded content
	 ========================================================================== */


/**
 * Remove the border on images inside links in IE 10.
 */

img {
    border-style: none;
}


/* Forms
	 ========================================================================== */


/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}


/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
    /* 1 */
    overflow: visible;
}


/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
    /* 1 */
    text-transform: none;
}


/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}


/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}


/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}


/**
 * Correct the padding in Firefox.
 */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}


/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}


/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}


/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto;
}


/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}


/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}


/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}


/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}


/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}


/* Interactive
	 ========================================================================== */


/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
    display: block;
}


/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}


/* Misc
	 ========================================================================== */


/**
 * Add the correct display in IE 10+.
 */

template {
    display: none;
}


/**
 * Add the correct display in IE 10.
 */

[hidden] {
    display: none;
}


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
optgroup,
textarea {
    color: #404040;
    font-family: sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}

p {
    margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}


/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

* {
    word-break: break-word;
}

body {
    background: #fff;
    /* Fallback for when there is no custom background color defined. */
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul,
ol {
    margin: 0 0 1.5em 0;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li>ul,
li>ol {
    margin-bottom: 0;
    margin-left: 10px;
    padding-left: 20px;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
}

figure {
    margin: 0 0 1em 0;
    /* Extra wide images within figure tags don't overflow the content area. */
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}


/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    /* 	border-radius: 3px; */
    background: #e6e6e6;
    color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #111;
}

select {
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
}


/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

a {
    color: royalblue;
}

a:visited {
    color: purple;
}

a:hover,
a:focus,
a:active {
    color: midnightblue;
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

::-moz-selection {
    /* Code for Firefox */
    color: #fff;
    background: #098dea;
}

::selection {
    color: #fff;
    background: #098dea;
}


/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%;
}

.main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
}

.main-navigation ul ul ul {
    left: -999em;
    top: 0;
}

.main-navigation ul ul li:hover>ul,
.main-navigation ul ul li.focus>ul {
    left: 100%;
}

.main-navigation ul ul a {
    width: 200px;
}

.main-navigation ul li:hover>ul,
.main-navigation ul li.focus>ul {
    left: auto;
}

.main-navigation li {
    float: left;
    position: relative;
}

.main-navigation a {
    display: block;
    text-decoration: none;
}


/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/


/* Text meant only for screen readers. */

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
    /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}


/* Do not show the outline on the skip link target. */

#content[tabindex="-1"]:focus {
    outline: 0;
}


/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}


/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
    margin: 0 0 1.5em;
    /* Make sure select elements fit in widgets. */
}

.widget select {
    max-width: 100%;
}


/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.sticky {
    display: block;
}

.post,
.page {
    margin: 0;
}

.updated:not(.published) {
    display: none;
}

.page-content,

/* .entry-content, */

.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

.page-links .post-page-numbers {
    background: #e4e1e1;
    padding: 7px;
    color: #000;
    display: inline-flex;
    width: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
}

.page-links .post-page-numbers.current {
    background: #a2a0a0;
}


/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}


/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/


/* Globally hidden elements when Infinite Scroll is supported and in use. */

.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}


/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */

.infinity-end.neverending .site-footer {
    display: block;
}


/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}


/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
    max-width: 100%;
}


/* Make sure logo link wraps around logo image. */

.custom-logo-link {
    display: inline-block;
}


/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}


/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

.infinite-wrap {
    flex: 100%;
    display: flex;
    flex-wrap: wrap;
}

div#infinite-handle {
    flex: 100%;
    display: flex;
    justify-content: center;
}

#infinite-handle span:after {
    content: "\f176";
    display: inline-block;
    font-family: "fontawesome";
    margin-left: 7px;
    transform: rotate(180deg);
    color: white;
}

#infinite-handle span button,
#infinite-handle span button:hover {
    color: white;
    font-size: 16px;
    width: 100px;
    height: 40px;
}

#infinite-handle span {
    border-radius: 30px;
}

span.infinite-loader {
    display: block;
}

.site-branding div {
    width: 100%;
}


/* social menu */

*[id^="menu-social-"] {
    display: flex;
}

*[id^="menu-social-"] li:before {
    display: none;
}

*[id^="menu-social-"] li a {
    color: transparent !important;
    font-size: 0 !important;
    height: 0 !important;
    width: 0 !important;
    line-height: 0;
}

.darkbiz-social-menu ul a span,
*[id^="menu-social-"] a span {
    display: none;
}

.darkbiz-social-menu ul a:before,
*[id^="menu-social-"] a:before {
    display: flex;
    font-family: fontAwesome;
    background: #fff;
    padding: 10px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    transition: all 0.3s;
    font-size: 16px;
}

*[id^="menu-social-"] li:first-child a:before {
    margin-left: 0;
}

.darkbiz-social-menu {
    display: flex;
    justify-content: flex-end;
}

.darkbiz-social-menu ul a[href*="facebook.com"]:before,
.darkbiz-social-menu ul a[href*="fb.me"]:before,
*[id^="menu-social-"] a[href*="facebook.com"]:before,
*[id^="menu-social-"] a[href*="fb.me"]:before {
    content: "\f09a";
    color: #1877f2;
}

.darkbiz-social-menu ul a[href^="tel:"]:before,
*[id^="menu-social-"] a:before {
    content: "\f095";
}

.darkbiz-social-menu ul a[href*="facebook.com"]:hover:before,
.darkbiz-social-menu ul a[href*="fb.me"]:hover:before,
.darkbiz-social-menu-style-2 .darkbiz-social-menu ul a[href*="facebook.com"]:before,
.darkbiz-social-menu-style-2 .darkbiz-social-menu ul a[href*="fb.me"]:before {
    background: #1877f2;
    color: #fff;
}

.darkbiz-social-menu a[href*="twitter.com"]:before,
*[id^="menu-social-"] a[href*="twitter.com"]:before {
    content: "\f099";
    color: #1da1f2;
}

.darkbiz-social-menu a[href*="twitter.com"]:hover:before,
.darkbiz-social-menu-style-2 .darkbiz-social-menu a[href*="twitter.com"]:before {
    background: #1da1f2;
    color: #fff;
}

.darkbiz-social-menu a[href*="linkedin.com"]:before,
*[id^="menu-social-"] a[href*="linkedin.com"]:before {
    content: "\f0e1";
    color: #007bb5;
}

.darkbiz-social-menu a[href*="linkedin.com"]:hover:before,
.darkbiz-social-menu-style-2 .darkbiz-social-menu a[href*="linkedin.com"]:before {
    background: #007bb5;
    color: #fff;
}

.darkbiz-social-menu a[href*="wordpress.org"]:before,
*[id^="menu-social-"] a[href*="wordpress.org"]:before {
    content: "\f19a";
    color: #0073aa;
}

.darkbiz-social-menu a[href*="wordpress.org"]:hover:before,
.darkbiz-social-menu-style-2 .darkbiz-social-menu a[href*="wordpress.org"]:before {
    background: #0073aa;
    color: #fff;
}

.darkbiz-social-menu a[href*="instagram.com"]:before,
*[id^="menu-social-"] a[href*="instagram.com"]:before {
    content: "\f16d";
    color: #c32aa3;
}

.darkbiz-social-menu a[href*="instagram.com"]:hover:before,
.darkbiz-social-menu-style-2 .darkbiz-social-menu a[href*="instagram.com"]:before {
    background: #c32aa3;
    color: #fff;
}

.darkbiz-social-menu a[href*="youtube.com"]:before,
*[id^="menu-social-"] a[href*="youtube.com"]:before {
    content: "\f167";
    color: #ff0000;
}

.darkbiz-social-menu a[href*="youtube.com"]:hover:before,
.darkbiz-social-menu-style-2 .darkbiz-social-menu a[href*="youtube.com"]:before {
    background: #ff0000;
    color: #fff;
}

.darkbiz-social-menu a[href*="vimeo.com"]:before,
*[id^="menu-social-"] a[href*="vimeo.com"]:before {
    content: "\f27d";
    color: #1ab7ea;
}

.darkbiz-social-menu a[href*="vimeo.com"]:hover:before,
.darkbiz-social-menu-style-2 .darkbiz-social-menu a[href*="vimeo.com"]:before {
    background: #1ab7ea;
    color: #fff;
}

.darkbiz-social-menu a[href*="dribbble.com"]:before,
*[id^="menu-social-"] a[href*="dribbble.com"]:before {
    content: "\f17d";
    color: #ea4c89;
}

.darkbiz-social-menu a[href*="dribbble.com"]:hover:before,
.darkbiz-social-menu-style-2 .darkbiz-social-menu a[href*="dribbble.com"]:before {
    background: #ea4c89;
    color: #fff;
}

.darkbiz-social-menu a[href*="aboutme.google.com"]:before {
    content: "\f0d5";
    color: #db4437;
}

.darkbiz-social-menu a[href*="aboutme.google.com"]:hover:before,
.darkbiz-social-menu-style-2 .darkbiz-social-menu a[href*="aboutme.google.com"]:before {
    background: #db4437;
    color: #fff;
}

.darkbiz-social-menu a[href*="vine.com"]:before {
    content: "\f1ca";
    color: #00b489;
}

.darkbiz-social-menu a[href*="vine.com"]:hover:before,
.darkbiz-social-menu-style-2 .darkbiz-social-menu a[href*="vine.com"]:before {
    background: #00b489;
    color: #fff;
}

.darkbiz-social-menu a[href*="whatsapp.com"]:before {
    content: "\f232";
    color: #25d366;
}

.darkbiz-social-menu a[href*="whatsapp.com"]:hover:before,
.darkbiz-social-menu-style-2 .darkbiz-social-menu a[href*="whatsapp.com"]:before {
    background: #25d366;
    color: #fff;
}

.darkbiz-social-menu a[href*="wechat.com"]:before {
    content: "\f1d7";
    color: #25d366;
}

.darkbiz-social-menu a[href*="wechat.com"]:hover:before,
.darkbiz-social-menu-style-2 .darkbiz-social-menu a[href*="wechat.com"]:before {
    background: #25d366;
    color: #fff;
}

.darkbiz-social-menu a[href*="line.me"]:before {
    content: "\f0e5";
    color: #25d366;
}

.darkbiz-social-menu a[href*="line.me"]:hover:before,
.darkbiz-social-menu-style-2 .darkbiz-social-menu a[href*="line.me"]:before {
    background: #25d366;
    color: #fff;
}

.darkbiz-social-menu a[href*="snapchat.com"]:before {
    content: "\f2ac";
    color: #fffc00;
}

.darkbiz-social-menu a[href*="snapchat.com"]:hover:before,
.darkbiz-social-menu-style-2 .darkbiz-social-menu a[href*="snapchat.com"]:before {
    background: #fffc00;
    color: #fff;
}

.darkbiz-social-menu a[href*="mailto:"]:before {
    content: "\f0e0";
    color: #ff0000;
}

.darkbiz-social-menu a[href*="mailto:"]:hover:before,
.darkbiz-social-menu-style-2 .darkbiz-social-menu a[href*="mailto:"]:before {
    background: #ff0000;
    color: #fff;
}

#site-navigation li.fa.menu-item,
div#mr-mobile-menu li.menu-item:before {
    font: inherit;
}

#site-navigation li.menu-item:before,
div#mr-mobile-menu li.menu-item:before {
    text-align: center;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    margin: auto;
    font-family: fontAwesome;
}

div#mr-mobile-menu li.menu-item:before {
    margin: 0 0 0 15px;
}

div#mr-mobile-menu li.fa.menu-item {
    display: block;
}